@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: #333;
  text-align: center;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}


h3 {
  font-weight: normal;
}

li {
  display: block;
  border-bottom: 1px solid #efefef;
}

li:first-child {
  border-top: 1px solid #efefef;
}

li:hover {
  background: rgba(0,0,0,0.03);
}

li a {
  display: block;
  color: #111;
  text-decoration: none;
  padding: 1rem;
}
