---
title: Simple Casual
---

.container
  = image_tag("eames-chair.svg")
  %h1 Simple Casual
  %p An <a href="https://github.com/simplecasual">open-ish</a> company, come <a href="http://slack.simplecasual.com">hang out</a> or <a href="mailto:alexbaldwin@gmail.com">say hello</a>, we're always looking for <a href="https://github.com/search?q=user%3Asimplecasual&ref=searchresults&state=open&type=Issues&utf8=%E2%9C%93">help</a>.
  %br
  %br
  %br
  %h3 Our Projects
  %br
  %ul
    %li= link_to '<strong>Latte</strong><br>Coffee guidebook', 'http://latteup.com'
    %li= link_to '<strong>SquareFormat</strong><br>Discover Instagram photographers', 'http://squareformat.co'
